<div class='side-bar'>
  <div class="rooms">
    <div class='room-title'>
      ルーム一覧
    </div>
    <div class="room">
      <div class="room-name">
        <a href="#">taro-hanako</a>
      </div>
    </div>
    <div class="room">
      <div class="room-name">
        <a href="#">mike-pochi</a>
      </div>
    </div>
  </div>
</div>